node_modules
.next
.git
.gitignore
.env*
*.md
.vscode
.idea
.agents
.freebuff
Dockerfile
docker-compose*.yml
.dockerignore
coverage
build
.pnp
.pnp.*
.yarn
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log
